@use './var';

// h
.h1,
.h2,
.h3,
.h4 {
  line-height: 130%;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 900;
}

.h1 {
  font-size: 42px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 28px;
}

.h5 {
  font-size: 24px;
  line-height: 150%;
}

// p

.p {
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
}

.p-bold {
  line-height: 150%;
  font-size: 16px;
  font-weight: 600;
}

.p-small {
  line-height: 150%;
  font-size: 12px;
  font-weight: 400;
}

.p-small-bold {
  line-height: 150%;
  font-size: 12px;
  font-weight: 600;
}

.p-middle {
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}

.p-middle-bold {
  line-height: 150%;
  font-size: 14px;
  font-weight: 700;
}

.p-big {
  line-height: 150%;
  font-size: 18px;
  font-weight: 400;
}

.p-big-bold {
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
