// clear sans
@font-face {
  font-family: 'ClearSans';
  src: url('../assets/fonts/ClearSans/ClearSans.ttf');
  font-weight: 400;
}

// graphik lcg
@font-face {
  font-family: 'GraphikLCG';
  src: url('../assets/fonts/GraphikLCG/GraphikLCG-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../assets/fonts/GraphikLCG/GraphikLCG-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../assets/fonts/GraphikLCG/GraphikLCG-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../assets/fonts/GraphikLCG/GraphikLCG-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../assets/fonts/GraphikLCG/GraphikLCG-Super.ttf');
  font-weight: 900;
}
