// fonts
$graphik: 'GraphikLCG', serif;
$clear: 'ClearSans', serif;

// colors
$black: #111;
$white: #fff;
$white-f8: #f8f6f4;
$white-f2: #f2f2f2;
$grey: #7f7f7f;

// transition
$quickly: all 0.1s ease;
$normally: all 0.3s ease;
$slowly: all 0.5s ease;
